<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">PIE Rotation Tracker</h1>

        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>Queue</label>
                <input type="text" name="name" placeholder="Enter operator..."><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>

        {% for operator in rotation %}
          {% if operator.next == True %}
          <div class="ui segment" style="background: #9ad99e;">
          {% else %}
          <div class="ui segment">
          {% endif %}

          {% if operator.next == True %}
          <p class="ui big header">{{operator.id }} | {{ operator.name }} | NEXT IN QUEUE</p>
          {% else %}
          <p class="ui big header">{{operator.id }} | {{ operator.name }}</p>
          {% endif %}


            {% if operator.in_queue == False %}
            <span class="ui gray label">Not in Queue</span>
            {% else %}
            <span class="ui green label">In Queue</span>
            {% endif %}

            {% if operator.in_queue == False %}
            <a class="ui blue button" href="/update/{{ operator.id }}">Add to Queue</a>
            {% else %}
            <a class="ui blue button" href="/update/{{ operator.id }}">Remove from Queue</a>
            {% endif %}


            <a class="ui violet button" href="/next/{{ operator.id }}">Next in Queue</a>
            <a class="ui green button" href="/assigned/{{ operator.id }}">Ticket Assigned</a>
            <a class="ui red button" href="/delete/{{ operator.id }}">Delete</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>
